@font-face {
  font-family: Vazir;
  src: url('/assets/fonts/Vazir.eot');
  src: url('/assets/fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Vazir.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('/assets/fonts/Vazir-Bold.eot');
  src: url('/assets/fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Vazir-Bold.woff2') format('woff2');
  font-weight: bold;
}

* {
  background: #c00c00 !important;
}


twitter-widget::part(.EmbeddedTweet-tweetContainer) {
  font-familty: Vazir !important;
  background: #c00c00;
}

